In [39]:
from idlelib.query import Query
from itertools import groupby

import pandas as pd
import sqlite3 as sql
import numpy as np
from IPython.testing.decorators import onlyif

conn = sql.connect("a1db.db")
sql_query = "SELECT * FROM nesreca;"
df1 = pd.read_sql_query(sql_query, conn)
df1.to_csv("a1db.csv")

In [45]:
sql_query_nesreca = "SELECT * FROM nesreca;"
df2 = pd.read_sql_query(sql_query_nesreca, conn)
dataFrame_nesreca = pd.DataFrame(df2)
sql_query_oseba = "SELECT * FROM oseba;"
df3 = pd.read_sql_query(sql_query_oseba, conn)
dataFrame_oseba = pd.DataFrame(df3)
sql_query_upravna_enota = "SELECT * FROM upravna_enota;"
df4 = pd.read_sql_query(sql_query_upravna_enota, conn)
dataFrame_upravna_enota = pd.DataFrame(df4)

In [83]:
import numpy as np
dataFrame_nesreca = dataFrame_nesreca.replace('', np.nan)
dataFrame_oseba = dataFrame_oseba.replace('', np.nan)
dataFrame_upravna_enota = dataFrame_upravna_enota.replace('', np.nan)
pd.set_option('display.max_rows', 99999999)

20

In [91]:
##print ( dataFrame_nesreca.join(dataFrame_oseba, how='left',lsuffix='_nesreca',rsuffix='_oseba')  )
##print(dataFrame_nesreca["stacionazna_ali_hisna_st"].isnull().sum())
##print(dataFrame_upravna_enota[dataFrame_upravna_enota['st_prebivalcev']=="0"])

   id_upravna_enota ime_upravna_enota st_prebivalcev povrsina
62             5598               MNZ              0        0
63             5599           Neznana              0        0